body {
    width: 100%;
}

.itemsList {
    width: 50%;
}

.removeItem {
    background-color: white;
}

.itemAdd {
    float: left;
    width: 46%;
    margin-top: 8px;
}

.removeItem {
    background-color: #fff;
    color: red;
    border: 0px;
}
